* 
{
  background-color: aquamarine;
 align-self: center;
 justify-content: center;
}
body 
{
 align-content: center;

}
img {
float: left;
}
h1 {
  text-align: center;
}
#Welcome {
  text-align: center;
}
a{
  align-content: center;
}
header {
  align-items: center;
  text-align: center;
}
ul {
  margin-left: 4vw;
}
#results {
  margin-left: 5vw;
}
