* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  border: 3px solid rgb(3, 113, 130);
  border-radius: 10px;
  background-color: rgb(253, 214, 19);
}

header img {
  cursor: pointer;
  margin-right: auto;
  border: 3px solid rgb(0, 9, 11);
  border-radius: 10px;
  background-color: aquamarine;

}
nav ul {
  list-style: none;
  background-color: rgb(253, 214, 19);
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
  border: 1px solid rgb(3, 113, 130);
  border-radius: 10px;
  background-color: rgb(19, 116, 253);
  font-size: larger;
}
nav ul li a {
  color: yellow;
  transition: all 0.3s ease 0s;
  background-color: rgb(19, 116, 253);
}

nav ul li a:hover {
  color: #000709;
}

.first ul li a{
  color: rgb(20, 1, 125);
  transition: all 0.3s ease 0s;
}

.first ul li a:hover{
  color: yellow;
}


button {
  color: ;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(85, 183, 150);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#sideimages ul {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 97%;
  max-height: 97%;
  
}
#sideimages ul img {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(137, 43, 226, 0.66);
  border-radius: 20px;
  max-width: 95%;
  max-height: 95%;
}


nav ul li{
  font-family: cursive;
  margin: auto;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid black;
  
}


main section.first {
  margin-top: 50px;
  align-self: center;
}

body {
  justify-content: center;
  align-content: center;
  font-size: larger;
}

h1 {
  text-align: center;
  font-size: xx-large;
}
#Welcome {
  text-align: center;
}

#Hours {
  justify-content: center;
  list-style-type: none;
  list-style: none;
  margin-left: 40vw;
margin-top: 10px;
margin-bottom: 20px;
font-size: x-large;
}
#Hours li{
  padding-top: 10px;
}


#results {
  padding-top: 5px;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-self: center;
  
}
#Chinook img{
  
  align-content: center;

}
#locations ul{
  font-size: x-large;
    display: flex;
    justify-content: space-around;
   margin-top: 5px;
   list-style-type: none;
   transition: all 0.3s ease 0s;
   
  }

  #locations ul li a {
  color: blueviolet;
  border-radius: 5px;
  
  transition: all 0.3s ease 0s;
  
;
  }
  #locations ul li a:hover{
    color: yellow;
  }
.first ul{
  text-align: center;
  align-content: center;
  align-self: center;
}
.first ul li {
  
  padding-top: 5px;
  padding-bottom: 5px;
}

.first p{
  padding-top: 10px;
  align-content: center;
  align-self: center;
}
p {
  font-size: large;
  border-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

table {
 width: 90%;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  background-color: aqua;
  border-radius: 20px;
  border: 3px solid;
  padding: 15px;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.form{
  width: 90%;
  display: inline-flex;
  justify-content: space-evenly;
  background-color: aqua;
  width: ;
}

fieldset {
  background-color: aqua;
  padding-top: 20px;
  padding-bottom: 20px;
 
}
legend {
  text-align: center;
  padding-top: 15px;
  background-color: aqua;
  padding-bottom: ;
}
form {
  
  width: 90%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
input{

  background-color: aqua;
}
label{
  text-align: center;
  
  background-color: aqua;

}

button{
  justify-content: center;
  align-self: center;
  border: 3px solid black;
  border-radius: 7px;
  margin-right: 18px;
  
}
